extends layout

block append vars
  - pageTitle = 'Profile'

block content
  .profile.text-center
    .github-profile
      h3 Your Github profile
      p
        span ID:
        span#profile-id.profile-value #{user.id}
      p
        span Username:
        span#profile-username.profile-value #{user.username}
      p
        span Display Name:
        span#display-name.profile-value #{user.displayName}
      p
        span Repositories:
        span#profile-repos.profile-value #{user.publicRepos}
        
    .user-polls
      h3 Your polls
      each poll in polls
        a.list-group-item(href='/poll/' + poll._id)= poll.title

    a(href='/logout').btn.btn-default Logout
